body {
    display: flex;
    justify-content: center;
}

label {
    background-color: #70ad47;
    color: white;
    width: 80px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-right: 40px;
    border: 2px solid #41719c;
    margin-bottom: 10px;
    display: inline-block;
}

.wrapper {
    border: 2px solid #41719c;
    padding: 20px 100px;
    display: inline-block;
}

.input_name {
    width: 180px;
    line-height: 37px;
    margin-left: 10px;
    border: 2px solid #41719c;
}

button {
    background-color: #70ad47;
    color: white;
    margin-left: 80px;
    border: 2px solid #41719c;
    padding: 15px 32px;
    border-radius: 10px;
    margin-top: 22px;
}

.picture {
    display: block;
    width: 30%;
    height: 30%;
}
.image_input {
    display: flex;
    align-items: flex-start;

}