body {
    display: flex;
    justify-content: center;
}

label {
    background-color: #70ad47;
    color: white;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    border: 2px solid #41719c;
    margin-bottom: 10px;
    display: inline-block;
}

.error {
    color: red;
}

.red_star:after {
    content: " *";
    color: red;
}

.wrapper {
    border: 2px solid #41719c;
    padding: 20px 100px;
    display: inline-block;
}

.input_name {
    width: 180px;
    line-height: 37px;
    margin-left: 10px;
    border: 2px solid #41719c;
}

.input_sex {
    width: 40px;
}

.input_date {
    width: 160px;
    line-height: 37px;
    margin-left: 10px;
    border: 2px solid #41719c;
}

.choose_file {
    margin-left: 15px;
}

.image_input {
    display: flex;
    align-items: center;
}

button {
    background-color: #70ad47;
    color: white;
    margin-left: 123px;
    border: 2px solid #41719c;
    padding: 15px 32px;
    border-radius: 10px;
    margin-top: 22px;
}

select {
    margin: 0px;
    width: 160px;
    height: 40px;
    border: 2px solid #41719c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.custom {
    margin-left: 10px;
    height: 40px;
    border: 2px solid #41719c;
    background: url(image/arrow_2.png) no-repeat right white;
}